*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#check{
    display: none;
}
#check label{
    display: none;
}
#nav{
    height:100px;
    width:100%;
    display:flex;
    gap:30px;
    align-items: center;
    justify-content:start;
    position: fixed;
    background-color: whitesmoke;
    z-index: 20;
}
#nav h1{
    width:100px;
    /* background-color: aqua; */
    /* justify-content: flex-start; */
    margin-left: 50px;

}
#nav h1 span{
    color:#1bbd36;
}
#nav ul{
    margin-left: 350px;
    align-items: center;
    display: flex;
    gap:20px;
}
#nav ul a{
    text-decoration: none;
    color:black;
}
#nav ul li{
    list-style: none;
}
#nav ul li a span{
    color:lightgreen;
}
#nav ul li a img{
    align-items: center;
    justify-content: center;
}
#nav ul li img{
    height: 15px;
    width: 15px;
    color:grey;

}
#nav ul li :hover {
    color: #1bbd36;
}
#first_section{
    width:100%;
    height:800px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#first_section img{
    width:100%;
    height: 600px;
    position: absolute;
    z-index: 7;
}
#first_section #box{
    border-top: 4px solid #1bbd36;
    height: 200px;
    width:85%;
    background-color: rgba(64,64,64,0.5);
    z-index: 9;
    position: relative; 
    margin-top: 350px;
    margin-left: 50px;
    padding-top: 30px;
    gap:40px;
}
#first_section #box h2{
    text-align: center;
    color: white;
}
#first_section #box p{
    margin-top: 10px;
    text-align: center;
    color:white;
}
#first_section button{
    margin-top: 10px;
    align-self: center;
    border:2px solid #1bbd36;
    padding:10px 20px 10px 20px;
    background-color:rgba(64,64,64,0.5);
    margin-left:600px;
    position: relative;
    z-index: 8;
    border-radius: 10%;
    color: white;
}
#first_section button:hover{
    background-color: #1bbd36;
}
#second_section{
    width:100%;
    /* border: 1px solid black; */
    /* height:1500px; */
    position:relative;
    background-color:whitesmoke;
    display: flex;
    flex-wrap: wrap;
}
#second_section h1{
    position: absolute;
    margin-top: 725px;
    margin-left: 100px;
    font-size: 50px;
}
#second_section img{
    margin-top: 725px;
    margin-left: 600px;
    width:700px;
    height:500px;
    position: absolute;
    z-index: 7;
    display: flex;
    flex-wrap: wrap;
}
#second_section img:hover{
    transition: all 3s ease;
    box-shadow: #1bbd36;
}
 .sona{
    display: flex;
    flex-wrap: wrap;
} 
.story{
    margin-top: 900px;
    margin-left: 100px;
    background-color:rgb(128,128,128,0.1);
    width:700px;
    height:500px;
    /* border: 1px solid black; */
    z-index: 6;
    padding:50px 200px 10px 40px;
    line-height: 30px;
}
#third_section{
    /* margin-top: 100px; */
    width:100%;
    /* height: 650px; */
    background-color: rgb(128,128,128,0.2);
     display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#third_section div{
    width:350px;
    height: 250px;
    /* border:1px solid black; */
    padding-top: 50px;
    background-color: white;
    border-radius: 2%;
    padding-top: 5px;
    /* align-items: center; */
    display: block;
    /* grid-template-columns: auto auto auto; */
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align:center;
    line-height: 30px;
}
#third_section div i{
    font-size: 30px;
    
}
#third_section div i:hover{
    background-color: #1bbd36;
}
#fourth_section{
    width:100%;
    padding-top: 80px;
    text-align: center;
    line-height: 100px;
}
/* #fourth_section #reel{
    width:100px;
    height: 2px;
    background-color: #1bbd36;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 650px;
    /* align-items: center; */
 */
#fourth_section #okk{
    display:flex;
    /* grid-template-columns: auto auto auto auto; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 600px;
    gap: 5px;

    
}
#fourth_section #okk div{
    height:20px;
    width:40px;
    /* display: flex; */
}
#fourth_section #okk div:hover{
    border-radius: 10%;
    background-color: #1bbd36;
}
#fourth_secton #img{
    width:100%;
    height:1200px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto; */
    /* justify-content: center; */
    gap: 2px;
}
#fourth_section #img img{
    width:400px;
}
#fifth_section h1{
    text-align: center;
}
#fifth_section #clt{
    display:grid;
    grid-template-columns: auto auto auto auto ;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    padding-top: 50px;
    text-align: center;
    /* align-items: center;  */
}
#fifth_section #clt div{
    border:1px solid grey;
    width:300px;
    height: 200px;
    justify-content: center;
}
#fifth_section #clt div img{
    width: 200px;
    height: 150px;
}
#footer{
    width:100%;
    margin-top: 50px;
    background-color: rgb(3,3,19);
    color:beige;
    padding-left: 100px;
    line-height: 20px;
    padding-right: 100px;
}

#footer #imp{
    padding-top: 100px;
    background-color: rgb(3, 3, 19);
    display: flex;
    justify-content: center;
    color: beige;
    gap:70px;
    line-height: 20px;
    
}
#footer h6:hover{
    color: #1bbd36;
}
#footer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
#footer button{
    background-color: #1bbd36;
    height:20px;
    text-align: center;
    padding: 0px;
    margin-left:0px;
}
#footer #last{
    text-align: center;
}
#footer #last span{
    color:#1bbd36;
}
@media(max-width:420px ){
    #nav{
        height: 50px;
        width:100%;
        padding :0px;
        margin-top: 0px;
    }
    #nav h1{
        font-size: 20px;
        text-align: left;
        /* margin-left:none; */
    }
    label{
        margin-left: 350px;
        margin-top: 150px;
        z-index: 21;
    }
    #nav ul li a{
        display:none;
        justify-content: center;
        align-content: center;
        margin-left:50px;
    }
    #nav ul li a :checked {
        display: block;
    }
     #first_section{
        display: block;
     }
    #first_section img{
        height: 600px;
        width:100%;
        /* z-index: 9; */
        margin-top: 50px;
    }
    #first_section .box{
        width:70%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    #first_section button{
        margin-left: 100px;
        background-color: rgb(128,128,128,0.2);
    }
    #first_section button:hover{
        background-color: #1bbd36;
    }
    #second_section{
        display:block;
        margin-left: 0px;
        margin-top: 20px;
    }
    #second_section .sona{
        margin-left: 0px;
        /* margin-top: 900px; */
        width:100%;
        /* height: 700px; */
        /* padding-top: 900px; */
        /* z-index: 7; */
        position: relative;
    }
    #second_section .sona .story{
        width:100%;
        height: auto;
        margin-left: 0px;
        padding: 10px 10px 10px 50px;
    }
    #second_section img{
        margin-left: 0px;
        margin-top:0px;
        width:100%;
        /* z-index: 8; */
        position: relative;
    }
    #third_section{
        display: block;
        justify-content: center;
        padding: 20px 20px 20px 20px;
        gap:20px;
    }
    #third_section div{
        gap:30px;
         line-height:30px ;
         margin-top: 20px;
    }
    #fourth_section{
        display:block;
    }
    #fifth_section{
        display: block;
    }
    #fifth_section #clt{
        display: block;
        justify-content: center;
        padding-left: 50px;
    }
    #footer{
        display:block;
        margin-top: 20px;
    } 
    #footer #imp{
        display: block;
        padding: 10px 10px 10px 10px;
    }
    #footer #imp div{
        margin:20px;
    }
    #footer #last{
        text-align: center;
    }
}